@{
    ViewBag.Title = "Home Page";
}

<div class=" text-center">
    <img src="~/Content/themes/base/images/bigstock-A-surplus-or-oversupply-of-pro-38532283.jpg" style="width: 50%; height: 50%; " />
</div>